$c-black-0:#111;
$c-black-1:#555;
$c-black-2:#777;
$c-black-3:#aaa;
$c-black-4:#ccc;
$c-black-5:#ddd;
$c-black-6:#e1e1e1;
$c-black-7:#eee;
$c-black-8:#f1f1f1;
$c-black-9:#f4f4f4;
$c-black-10:#f8f8f8;

$t-black-10:rgba(0,0,0,1);
$t-black-1:rgba(0,0,0,0.1);
$t-black-2:rgba(0,0,0,0.2);
$t-black-3:rgba(0,0,0,0.3);
$t-black-4:rgba(0,0,0,0.4);
$t-black-5:rgba(0,0,0,0.5);
$t-black-6:rgba(0,0,0,0.6);
$t-black-7:rgba(0,0,0,0.7);
$t-black-8:rgba(0,0,0,0.8);
$t-black-9:rgba(0,0,0,0.9);

$t-white-10:rgba(255,255,255,1);
$t-white-1:rgba(255,255,255,0.1);
$t-white-2:rgba(255,255,255,0.2);
$t-white-3:rgba(255,255,255,0.3);
$t-white-4:rgba(255,255,255,0.4);
$t-white-5:rgba(255,255,255,0.5);
$t-white-6:rgba(255,255,255,0.6);
$t-white-7:rgba(255,255,255,0.7);
$t-white-8:rgba(255,255,255,0.8);
$t-white-9:rgba(255,255,255,0.9);

$box-shadow-modal:0 10px 50px rgba(52, 73, 94,0.2);
