$loading-size:60px;
.loading-wrap{
  position: absolute;
  top:30%;
  right:0;
  left:0;
  .loading-msg{
    position: relative;
    margin-top:$loading-size*2;
    text-align: center;
  }
}

.loading {
  height:$loading-size*2;
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $loading-size*2;
  margin-left: -$loading-size;
  margin-top: -$loading-size;
  zoom: 2;
  -moz-transform: scale(1.8);
  display: block;
  &:after{
    display: block;
    position: absolute;
    color: white;
    width: 100%; top: 100%;
    text-align: center;
    font-size: 0.5em;
  }
  .circular{
    height: $loading-size*2;
    position: relative;
    width: $loading-size*2;
    -webkit-animation: loadingrotate 2s linear infinite;
            animation: loadingrotate 2s linear infinite;
  }
  .path{
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  }
}
@-webkit-keyframes color {
  0%, 100% { stroke: #00be96; }
  40%      { stroke: #e64b41; }
  66%      { stroke: #46b9b9; }
  80%, 90% { stroke: #ffbe00; }
}
@keyframes color {
  0%, 100% { stroke: #00be96; }
  40%      { stroke: #e64b41; }
  66%      { stroke: #46b9b9; }
  80%, 90% { stroke: #ffbe00; }
}

/* other animations */

@-webkit-keyframes loadingrotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loadingrotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
