.collections-wrap{
        max-width: 1400px;
        padding:50px 20px 20px;
        margin:0 auto;
    .collections-header{
        padding:30px 0;
        text-align: center;
        .avatar{
            width:50px;
            height:50px;
        }
        .avatar-info{
            margin-top:10px;
            .name{
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 1;
            }
            .type{
                color:$c-black-2;
            }
        }
    }
    .collections-contents{
        display: flex;
        flex-wrap:wrap;
        .card-item{
            flex:0 0 25%;
            padding:10px;
            height: 400px;
            @media screen and(max-width:$screen-desktop){
                flex:0 0 33.33%;
            }
            @media screen and(max-width:$screen-pad){
                flex:0 0 50%;
            }
            @media screen and(max-width:550px){
                flex:0 0 100%;
            }
            .card-item-box{
                display: flex;
                flex-flow: column;
                height:100%;
                transform: translate3d(0,0,0);
                box-shadow:0px 3px 5px 0px rgba(0,0,0,0.1);
                transition: transform 0.3s ease,box-shadow 0.3s ease;
                border-radius: 10px;
                
                &:hover{
                    transform: translate3d(0,-10px,0);
                    box-shadow:0px 30px 60px 0px rgba(0,0,0,0.2);
                }
            }
            .card-item-image{
                flex:1;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                .back-image{
                    position:relative;
                    width: 100%;
                    height:100%;
                    background-size:cover;
                    background-position: center;
                    z-index: 1;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
            .card-item-bottom{
                height:160px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                .avatar{
                    
                }
            }
        }
    }
}