.collections-wrap{
        max-width: 1400px;
        padding:50px 20px 20px;
        margin:0 auto;
    .collections-header{
        padding:30px 0;
        text-align: center;
        .avatar{
            width:50px;
            height:50px;
        }
        .avatar-info{
            margin-top:10px;
            .name{
                font-weight: 700;
                font-size: 1.2rem;
                line-height: 1;
            }
            .type{
                color:$c-black-2;
            }
        }
    }
    .collections-contents{
        display: flex;
        flex-wrap:wrap;
        
    }
}