
.detail-page-wrap{
    z-index: 10;
    &>div{
        background-color:#fff;
    }

}
.detail-loading{
    width: 100vw;
    height:100vh;
}
.detail-frame{
    position: relative;
    width: 100vw;
    height:100vh;
}
.detail-main{
    position: absolute;
    top:0;
    right:0;
    padding:100px 0;
    background-color:#ccc; 
    
    &.animate{
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),background-color 500ms;
        -webkit-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),background-color 500ms;
        -moz-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),background-color 500ms;
         -ms-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),background-color 500ms;
          -o-transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1),background-color 500ms;
    }
    .device-controll-wrap{
        .device-controll{
            text-align: center;
            .dic{
                display: inline-block;
                padding:10px;
                .icon-device{

                }
                .icon-text{

                }
            }
        }
    } 
    .iframe-wrap{
        position: absolute;
        top:0;
        bottom:0;
        left:0px;
        right:0px;
        margin:auto;
        height:700px;
        border-radius: 20px;
        overflow:hidden;
        transition: width 0.4s,height 0.4s;
        .iframe-border{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right:0;
            bottom:0;
            margin:auto;
            transition: width 0.4s,height 0.4s;
            svg,rect{
                position: absolute;
                top: 0;
                left: 0;
                right:0;
                bottom:0;
                margin:auto;
                transition: width 0.4s,height 0.4s;
            }
        }
    }
  }
.detail-contents-wrap{
    opacity: 0;
    transition: opacity 0.5s;
    &.animate{
        opacity: 1;   
    }
    .detail-contents{
        padding:100px 20px 20px;
    }
   
}