
.detail-page-wrap{
    z-index: 10;
    &>div{
        background-color:#fff;
    }

}
.detail-frame{
    display: flex;
}
.detail-main{
    position: relative;
    flex:1.2;
    padding:100px 20px 20px;
    background-color:#ccc; 
    .device-controll-wrap{
        .device-controll{
            text-align: center;
            .dic{
                display: inline-block;
                padding:10px;
                .icon-device{

                }
                .icon-text{

                }
            }
        }
    } 
    .iframe-wrap{
        &.load{
            height:700px;
            border-radius: 20px;
            width:calc(100% - 40px);
            
        }
        position: absolute;
        top:0;
        bottom:0;
        left:20px;
        right:20px;
        margin:auto;
        width:100px;
        height:100px;
        border-radius: 50px;
        border:1px solid $t-white-10;
        overflow:hidden;
        transition: all 0.4s ease-out;
        iframe{
        }
    }
  }
.detail-contents-wrap{
    flex:1;
    .detail-contents{
        padding:100px 20px 20px;
    }
   
}