.main-container{
    position: relative;
    width:100vw;
    height:100vh;
    background:$c-black-8;
}
.menu-list{
    position: absolute;
    left:0;
    top:0;
    width:330px;
    height:100%;
    z-index: 7000; 
    background:rgba(255,255,255,0.95);
    transform: translateX(-330px);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), visibility 0.4s;;
    box-shadow: 0 10px 50x rgba(52, 73, 94,0.2);
    visibility: hidden;
    &.open{
        visibility: visible;
        transform: translateX(0px);
        li{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    ul{
        margin-top:16vh;
        li{
            opacity: 0;
            padding: 4px 0 4px 40px;
            transform: translateX(-50px);
            transition: transform 0.4s ease-out,opacity 0.4s;
            &+li{
                margin-top:10px;
            }
            &:nth-child(1){
                transition-delay: 0.1s;
            }
            &:nth-child(2){
                transition-delay: 0.2s;
            }
            &:nth-child(3){
                transition-delay: 0.3s;
            }
            &:nth-child(4){
                transition-delay: 0.4s;
            }
            .disabled{
                color:$t-black-4;
                pointer-events: none;
            }
            a{
                width: 100%;
                display: inline-block;
                font-size: 2.6rem;
                line-height: 1.3;
                font-weight: 600;
                color:$c-black-0;
            }
            p{
                font-size:1.1rem;
                color:$c-black-3;
            }
        }
    }
}
.main-wrapper.menu{
    transform: scale(0.92) translateX(330px);
    width:calc(100% - 330px);
}
.main-wrapper{
    position: absolute;
    top:16vh;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    padding:0 70px;
    transform: scale(1) translateX(0px);
    transform-origin: left top 0;
    transition:transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1),width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    .title-wrap{
        position: relative;
        height:55px;
        top:0;
        padding:0 30px 0 20px;
        .pages{
            position: relative;
            top: calc(50% - 10px);
            float: left;
            padding-right: 10px;
            font-weight: 600;
            color: $c-black-0;
            line-height: 20px;
        }
        .total{
            position: absolute;
            right:0;
            top: calc(50% - 10px);
            font-weight: 400;
            line-height: 20px;
            color:$c-black-3;
        }
        .menu-title{
            position: relative;
            float: left;
            height:55px;            
            user-select: none;
            padding-left:50px;
            
            .main-txt{
                position: relative;
                padding-right:30px;
                line-height: 55px;
                *{
                    font-weight: 600;
                    font-size: 2.8rem;
                }
                span{
                    display: inline-block;
                }
                h2{
                    position: absolute;
                    top:0px;
                    white-space: nowrap;
                    cursor: pointer;
                }
            }
            .menu-icon{
                position: absolute;
                display: inline-block;
                top:0px;
                bottom:0;
                left:0;
                width: 23px;
                height:16px;
                margin:auto;
                cursor: pointer;
            }
            .menu-icon.active{
                span{
                    &:nth-child(1){
                        top:7px;
                        width:10px;
                        transform: rotate(315deg);
                    }
                    &:nth-child(2){
                        transform: rotate(0deg);
                    }
                    &:nth-child(3){
                        top:5px;
                        width:10px;
                        transform: rotate(-315deg)
                    }
                }
            }
            .menu-icon{   
                transition:all 0.5s ease;
                span{
                    position: relative;
                    display: block;
                    top:0;
                    left:0;
                    width:23px;
                    height:1px;
                    background-color:$c-black-0;
                    transform-origin: left top;
                    transition: all 0.5s ease-out;
                    
                    &:nth-child(2){
                        top:6px;
                        width: 23px;
                        transform-origin: center;
                    }
                    &:nth-child(3){
                        top:12px;
                        width: 23px;  
                        transform-origin: left center;
                    }
                }
            }
        }
        .scroll-bar{
            position:relative;
            top:calc(50% - 1px);
            height:1px;
            background:$c-black-4;
            overflow:hidden;
            .indicator{
                position: absolute;
                width:30px;
                height:1px;
                background: #000;
            }
        }
        &:after{
            content:"";
            display: block;
            clear: both;
        }
    }
    .card-item-wrap{
        position: absolute;
        top:100px;
        white-space: nowrap;
        >div{
            transform-style: preserve-3d;
        }
        .card-item-image{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px; 
            img{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px; 
            }
        }
        .card-item-bottom{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px; 
        }
        .old-posts-loading{
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 430px;
            z-index: 10
        }
        .card-item{
            transform-style: preserve-3d;
            transform-origin: 50% 50% 0;
            position: absolute;
            display: inline-block;
        }   
    }
}
.detail{ 
    > div{
        position: absolute;
        left:0;
        top:0px;
        right:0;
    }
    .iframe-wrap{
        margin:0 auto;
        .iframe-content{
            background-color:#fff;
        }
    }
}