
// open menu
.main-container.menu{
    .title-wrap{
        width:calc(100% - 330px);
        transform: translate3d(330px,0,0);
    }
    .main-wrapper{
        transform: translate3d(330px,0,0) scale(0.92);
        width:calc(100% - 330px);
    }
}
.menu-list{
    position: absolute;
    left:0;
    top:0;
    width:330px;
    height:100%;
    z-index: 7000; 
    background:rgba(255,255,255,0.95);
    transform: translateX(-330px);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), visibility 0.4s;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1), visibility 0.4s;;
    box-shadow: 0 10px 50px rgba(52, 73, 94,0.2);
    visibility: hidden;
    will-change: transform;
    &.open{
        visibility: visible;
        transform: translateX(0px);
        li{
            opacity: 1;
            transform: translateX(0px);
            will-change: transform,opacity;
        }
    }
    ul{
        position: relative;
        transform: translateZ(0);
        top:18%;
        li{
            opacity: 0;
            padding: 4px 0 4px 40px;
            transform: translateX(-50px);
            transition: transform 0.4s ease-out,opacity 0.4s;
            &+li{
                margin-top:10px;
            }
            &:nth-child(1){
                transition-delay: 0.1s;
            }
            &:nth-child(2){
                transition-delay: 0.2s;
            }
            &:nth-child(3){
                transition-delay: 0.3s;
            }
            &:nth-child(4){
                transition-delay: 0.4s;
            }
            .disabled{
                color:$t-black-4;
                pointer-events: none;
            }
            a{
                width: 100%;
                display: inline-block;
                font-size: 2.6rem;
                font-weight: 600;
                color:$c-black-0;
            }
            p{
                font-size:1.1rem;
                color:$c-black-3;
            }
        }
    }
}
.main-container{
    position: relative;
    width:100%;
    height:100%;
    background:$c-black-8;
    .view{
        overflow-y: hidden !important;
        -webkit-overflow-scrolling: touch;
    }
    .title-wrap{
        position: absolute;
        display: flex;
        top:18%;
        right:0;
        left:0;
        padding:0 20px 0 0;
        z-index: 100;
        width:100%;
        align-items: center;
        transition:transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1),width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
        will-change: transform,width;
        .pages{
            position: relative;
            align-self: center;
            padding-right: 10px;
            font-weight: 600;
            color: $c-black-0;
            line-height: 20px;
        }
        .total{
            position: relative;
            align-self: center;
            padding-left: 10px;
            font-weight: 400;
            line-height: 20px;
            color:$c-black-3;
        }
        .menu-title{
            position: relative;
            user-select: none;
            padding-left:60px;
            
            .main-txt{
                position: relative;
                padding-right:30px;
                *{
                    font-weight: 600;
                    font-size: 2.8rem;
                }
                span{
                    display: inline-block;
                }
                h2{
                    position: absolute;
                    top:0px;
                    white-space: nowrap;
                    cursor: pointer;
                    will-change: transform,opacity;
                }
            }
            .menu-icon{
                position: absolute;
                display: inline-block;
                top:0px;
                bottom:0;
                left:15px;
                width: 23px;
                height:16px;
                margin:auto;
                cursor: pointer;
            }
            .menu-icon.active{
                span{
                    &:nth-child(1){
                        top:7px;
                        width:10px;
                        transform: rotate(315deg);
                    }
                    &:nth-child(2){
                        width:100%;
                        transform: rotate(0deg);
                    }
                    &:nth-child(3){
                        top:5px;
                        width:10px;
                        transform: rotate(-315deg)
                    }
                }
            }
            .menu-icon{   
                transition:all 0.5s ease;
                span{
                    position: relative;
                    display: block;
                    top:0;
                    left:0;
                    width:100%;
                    height:1px;
                    background-color:$c-black-0;
                    transform-origin: left top;
                    transition: all 0.5s ease-out;
                    
                    &:nth-child(2){
                        top:6px;
                        width: 75%;
                        transform-origin: center;
                    }
                    &:nth-child(3){
                        top:12px;
                        transform-origin: left center;
                    }
                }
            }
        }
        .scroll-bar{
            position:relative;
            flex-grow:1;
            height:1px;
            background:$c-black-4;
            overflow:hidden;
            .indicator{
                position: absolute;
                width:30px;
                height:1px;
                background: #000;
            }
        }
        &:after{
            content:"";
            display: block;
            clear: both;
        }
    }
}
.main-wrapper{
    position: absolute;
    top:18%;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    padding:0 70px;
    transform: scale(1) translateX(0px);
    transform-origin: left top 0;
    transition:transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1),width 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    will-change: transform,width;
    .card-item-wrap{
        position: absolute;
        top:100px;
        white-space: nowrap;
        will-change: transform;
        >div{
            position: relative;
        }
        .card-item-image{
            overflow:hidden;
            img{
            }
            video{
            }
        }
        .card-item-bottom{

            z-index: 1;
        }
        .old-posts-loading{
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 100%;
            z-index: 10
        }
        .card-item{
           
            transform-style: preserve-3d;
            transform-origin: 50% 50% 0;
            position: absolute;
            display: inline-block;
            will-change: transform,opacity;
        }   
    }
}
.detail{ 
    > div{
        position: absolute;
        left:0;
        top:0px;
        right:0;
    }
    .iframe-wrap{
        margin:0 auto;
        .iframe-content{
            background-color:#fff;
        }
    }
}
.horizontal {
    .summary-wrap{
        display: none;
    }
        .main-container{
            .title-wrap{
                .menu-title .main-txt *{
                    font-size: 2rem
                }
            }
            .main-wrapper{
            }
        }
        .menu-list{
            ul{
                li{
                    a{
                        font-size: 2rem
                    }
                }
            }
        }
        .main-wrapper{
            .card-item-wrap{
                top:60px;
            }
            .card-item-image{
                position: absolute;
                top:0;
                bottom:0;
                margin:auto 0;
                border-radius:0;
                img{
                    border-radius:0
                }
            }
        }
        .card-item-boxWrap.white{
            *{
                color:#fff !important;
            }
            .icon-fav{
                
                .svg-wrap path{
                    stroke:#fff;
                }
                &.active{
                    .svg-wrap path{
                        stroke:#fff;
                        fill:#fff;
                    }
                }
            }
            
        }
        .card-item{
            .card-item-box{
                overflow: hidden;
                
                .card-item-bottom{
                    background: none;
                    height:100% !important;
                    .avatar-wrap{
                        .avatar{
                            width:25px;
                            height:25px;
                        }
                        .avatar-info{
                            span{
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
            .icon-fav{
                .fav-info{
                    line-height: 15px;
                }
                .svg-wrap{
                    width:15px;
                    height:15px;
                }
            }
        }
}
//media styles
@media screen and (max-width: $screen-pad) {
    .menu-list{
        ul{
            top:12%;
        }
    }
    .main-container{
        .title-wrap{
            top:12%;
            .menu-title{
                padding-left:40px;
                .menu-icon{
                    left:0px;
                }
                .main-txt{
                    padding-right:15px;
                    h2{
                        font-size: 2rem;
                    }
                }
            }
        }
        .main-wrapper{
            top:12%;
            .card-item-wrap{
                top:60px;
            }
        } 
    }
}

@media screen and (max-width: $screen-phone-large) {
    .menu-list{
        width:200px;
        ul{
            li{
                padding:4px 0 4px 20px;
                a{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }
    .main-container{
        .title-wrap{
            
        }
        
        .main-wrapper{
            padding:0;
            min-height: 540px;
            
            .card-item-wrap{
                >div{
                    display: flex;
                }
                .old-posts-loading{
                    overflow:hidden;
                }
            }
        }
        &.menu{
            .title-wrap{
                width:calc(100% - 200px);
                transform: translate3d(200px, 0, 0);
            }
            .main-wrapper{
                transform: translate3d(200px, 0, 0) scale(1)
            }
        } 
    }
}
