.card-item{
    position: relative;
    .card-item-boxWrap{
        position: relative;
        width:100%;
        height:100%;
    }
    .icon-fav{
        position: absolute;
        right:20px;
        bottom:25px;
        display: inline-block;  
        z-index: 1;
        @media screen and (max-width: $screen-desktop) {
            right:15px;
            bottom:20px;
        } 
        .svg-wrap{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            transform-origin: center;
            svg{
                width:100%;
                height:100%;
            }
            .svg-fav{
                stroke-width: 2px;
                opacity: 0.5;
                transition: all .3s;
            }
            path{
                fill:none;
                stroke: $c-black-0;
                transition: all .3s;
            }
            &:hover{
                .svg-fav{
                    opacity: 1;
                }

            }
        }
        .fav-info{
            display: inline-block;
            vertical-align: middle;
            line-height: 25px;
            .count{
                margin-right: 5px;
                font-weight: 600;
                text-align: right;
                font-size: 1rem;
                color:$c-black-0;
                 
            }
        }        
        cursor: pointer;
        .fav-loading{
            pointer-events: none;
        }
        
    }
    .icon-fav.active{
        .svg-wrap{
            animation:scale-bounce-up 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            transform-origin: center center;
            path{
                fill:$c-black-0; 
            }
            .svg-fav{
                opacity: 1;
            }
        }
        
    }
    .card-item-box{
        position: relative;
        cursor: pointer; 
        overflow: hidden;  
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        will-change: box-shadow;
       
    }
    .card-item-image{
        position: relative;
        width:100%;
        background-color:#222;
        img{
            position: relative;
            display: inline-block;
            width: 100%;
        }
        .video-wrap{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
        }
    }
    
    .gif-loading-wrap{
        position: absolute;
        top:20px;
        right:20px;
        opacity: 1;
        transition: transform 0.2s ease;
        z-index: 1;
        @media screen and (max-width: $screen-desktop) {
            top:15px;
            right:15px;
        } 
        &.in{
            opacity: 1;
            transform: translateX(15px)
        }
        &.out{
            opacity: 0;
        }
        .gif-loading{
            width:18px;
            height:18px;  
            transform-origin: 50% 50%;
            opacity: 0.3;
            transition: opacity 0.3s;
            svg{
                width:100%;
                stroke-width: 3px;
                stroke:$c-black-0;
                fill:transparent;
                stroke-dasharray: 100,100;
                
            }
        }
        .gif-loading.animate{  
            transition-delay: 0.5s;
            opacity: 0;
            svg{
                fill:$c-black-0;
            }  
        }
    }
    .white{
        .gif-loading{
        }
        .gif-loading-wrap {
            .gif-loading{
                svg{
                    stroke:#fff;
                    
                }
                &.animate{
                    svg{
                        fill:#fff;
                    }
                }
            }
            
        } 
    }
    .fade-in{
        opacity: 1;
        transition: opacity 1s;
    }
    .fade-out{
        opacity: 0;
        transition: opacity 1s;
        
    }
    .card-item-bottom{
        position: absolute;
        left:0;
        bottom:0;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding:20px;
        background-color: $t-white-10;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @media screen and (max-width: $screen-desktop) {
            padding:15px;
        }
        .post-meta{
            
            .category{
                font-weight: 400;
                color:$c-black-0;
                transform: translateZ(0);
                opacity: 0.7;
            }
        }
        .post-title{
            flex-grow: 1;
        }
        h3{
            flex-grow: 1;
            margin:4px 0;
            font-size: 1.2rem;
            line-height: 1.2;
            font-weight: 600;
            color:$c-black-0;
            white-space: normal;
            transform: translateZ(0);
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .avatar-wrap{
            align-self: flex-end;
            display:flex;
            align-items: center;
            width:100%;
            span{
                display: block;
                line-height: 1.3;
                font-size:13px;
                color:$c-black-0;
                transform: translateZ(0)
            }
            .date{
                color:$c-black-0;
                opacity: 0.7;
            }
            .avatar{
                width:35px;
                height: 35px;
                vertical-align: middle;
                background-position: center;
                background-repeat: no-repeat;
            }
            .avatar-info{
                display: inline-block;
                vertical-align: middle;
                margin:0 0 0 10px;
            }
        }
    }
    .summary-wrap{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding:20px 0;
        white-space: normal;
        word-break: keep-all;
        >div{
            transform: translateZ(0)
        }
        h3{
            font-size:1.3rem;
            font-weight: 400;
            color:$c-black-1;
            margin-bottom:10px;
        }
        p{
            color:$c-black-1;
        }
    }
}
.card-item.hover{
    .card-item-box{
        
    }
}
.card-item.simple{
    flex:0 0 25%;
    padding:10px;
    height: 400px;
    @media screen and(max-width:$screen-desktop){
        flex:0 0 33.33%;
    }
    @media screen and(max-width:$screen-pad){
        flex:0 0 50%;
    }
    @media screen and(max-width:550px){
        flex:0 0 100%;
    }
    .card-item-box{
        display: flex;
        flex-flow: column;
        height:100%;
        transform: translate3d(0,0,0);
        box-shadow:0px 30px 50px 0px rgba(0,0,0,0.1);
        transition: transform 0.3s ease,box-shadow 0.3s ease;
        border-radius: 10px;
        &:active{
            transform:scale(0.95);
        }
    }
    .card-item-image{
        flex:1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .back-image{
            position:relative;
            width: 100%;
            height:100%;
            background-size:cover;
            background-position: center;
            z-index: 1;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .card-item-bottom{
        position: relative;
        height:160px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        .avatar{
            
        }
    }
}