.comments-wrap{
    margin:15px 0 200px;
    .category-title{
        display: flex;
        padding:15px 0;
        h4{
            font-weight: 700;
            font-size: 1.2rem;
            background:url('../images/icon-reply.svg') left center no-repeat;
            background-size: 18px;
            padding:0 0 0 22px;
        }
        .comments-count{
            display: inline-block;
            vertical-align: middle;
            margin-left:5px;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 23px;
            height:23px;
        }
    }
    .comments-body{
        .comments-write{
            position: relative;
            &.reply{
                .commentsTxtArea{
                    border:none;
                }
            }
            .commentsTxtArea{
                display:flex;
                border:1px solid $c-black-6;
                border-radius: 5px;
                background-color:$c-black-9;
                overflow: hidden;
                .modify-title{
                    position: absolute;
                    top:20px;
                    left:15px;
                    color:$c-black-3;
                    font-weight: 700;
                    opacity: 0;
                }
                &.modify{
                    background-color: $t-white-10;
                    border:1px solid $c-black-8;
                }
                &.focus{
                    .modify-title{
                        opacity: 1;
                    }
                    .avatar-wrap{
                        .avatar-info{
                            opacity: 1;
                            transform: translate3d(0,30px,0)
                        }
                    }
                    textarea{
                        padding-top:55px;
                        
                    }
                    .btn-group{
                        button{
                            
                            &.submit{
                                background-color:$c-green-10;
                                color:$t-white-10;
                                &:hover{
                                    background-color: darken($c-green-10,8%);
                                }
                            }
                            &.cancel{
                               
                            }
                        }
                    }
                }
                .btn-group{
                    position: absolute;
                    top:0;
                    right:0;
                    display: flex;
                    text-align: center;
                    margin:0;
                    padding:15px 15px 15px 15px;
                    border:none;
                    button{
                        width:auto;
                        height:30px;
                        padding:4px 8px;
                        margin:0;
                        font-weight: 500;
                        border:none;
                        border-radius: 5px;
                        transition: all 0.3s;
                        &.submit{
                            color:$c-black-3;
                            
                        }
                        &.cancel{
                            color:$c-black-3;
                            margin:0 0 0 2px;
                            &:hover{
                                background-color: $c-black-6;
                            }
                        }
                        
                    }
                    
                }
            }
            .avatar-wrap{
                position: relative;
                padding:14px 5px 0 15px;
                .avatar-info{
                    position: absolute;
                    top:-10px;
                    left:calc(100% + 10px);
                    white-space: nowrap;
                    opacity: 0;
                    transition: opacity 0.1s,transform 0.2s;
                    p{
                        font-weight: 500;
                    }
                }
            }
            textarea{
                flex:1;
                width:100%;
                display: block;
                padding:20px 15px 15px 15px;
                resize:none;
                outline: none;
                overflow-y: hidden;
                border:none;
                font-size: 16px;
                font-weight: 500;
                background:none;
                &.animate{
                    transition:padding-top 0.2s,height 0.2s;
                }
                
            }
            button{
                position: relative;
                bottom:0px;
                right:0;
            }
        }
        .comments-contents{
            margin-top:20px;
            > ul{
                > li{
                    border-bottom:1px solid $c-black-6;
                    padding:0 0 15px;
                    .user-header{
                        display: flex;
                        padding:15px 0 10px 0;
                        .btn-group{

                        }
                        .avatar-wrap{
                            display: flex;
                            flex:1;
                            .avatar-info{
                                margin-left:15px;
                                .name{
                                    font-weight: 500;
                                }
                                .date{
                                    color:$c-black-2;
                                }
                            }
                        }
                    }
                    .text-body{
                        padding:0 0 10px 0;
                    }
                    .text-body *{
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    .btn-group{
                        display: flex;
                        padding:0;
                        margin:5px 0 0;
                        button{
                            text-align: left;
                            border:none;
                            font-size: 0.9rem;
                            color:$c-black-2;
                            padding:5px 10px 4px 18px;
                            transition:all 0.3s;
                            &.reply{
                                background:url('../images/icon-reply.svg') left center no-repeat;
                                background-size: 14px;
                            }
                            &.modify{
                                background:url('../images/icon-modify.svg') left center no-repeat;
                                background-size: 14px;
                            }
                            &.delete{
                                background:url('../images/icon-remove.svg') left center no-repeat;
                                background-size: 14px;
                            }
                            &:hover{
                                color:$c-black-0;
                                font-weight: 500;
                            }
                            &+button{
                                margin-left:5px;
                                
                            }
                        }
                    }
                    .original-comments{
                        .user-header{
                            .avatar-wrap{
                                display: flex;
                                .avatar-info{

                                }
                            }
                        }
                        .commentsTxtArea{
                            margin:15px 0 0;
                            &.modify:before{
                                content:none;
                            }
                            &:before{
                                content: "";
                                position: absolute;
                                top: -10px;
                                left: 20px;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid $c-black-9;
                            }
                        }
                    }
                    .reply-comments{
                        position: relative;
                        padding:0px 15px 0px 15px;
                        margin-top:15px;
                        background-color:$c-black-9;
                        border-radius: 5px;
                        &:before{
                            content:"";
                            position: absolute;
                            top:-10px;
                            left:20px;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid $c-black-9;
                        }
                        ul{
                            li{
                                padding:0 0 10px;
                                border-bottom:1px solid $c-black-5;
                                &:last-child{
                                    border:none;
                                }
                                .user-header{
                                    margin-top:10px;
                                    .btn-group{
        
                                    }
                                    .avatar-wrap{
                                        .avatar-info{

                                        }
                                    }
                                }
                                p{
                                    
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}