.overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#aaa;
}
.login-modal-wrap{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:$t-white-6;
    z-index: 9999;
    .login-modal-box{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:500px;
        height:500px;
        margin:auto;
        background-color:$t-white-10;
        box-shadow: 0 0 45px 2px$t-black-3;
    }
}
.modal-wrap{
    position:absolute;
    width:500px;
    height: 500px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color:#fff;
}
.login-toast{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $t-black-8;
    padding: 10px;
    width: 200px;
    .avatar{
        width:40px;
        height:40px;
    }
    .user-info{
        position: absolute;
        top:10px;
        left:60px;
        p{
            color:$t-white-8;
        }
        span{
            color:$t-white-10;
        }   
        .username{
            color:$t-white-10;
            font-weight: 400;
        }
    }
}