
.modal-wrap{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:$t-white-9;
    z-index: 9999;
    will-change: opacity;
    .modal-box{
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        width:500px;
        height:500px;
        margin:auto;
        background-color:$t-white-10;
        box-shadow: $box-shadow-modal;
    }
}

.login-toast{
    position: fixed;
    display: flex;
    top: 10px;
    right: 20px;
    background-color: $t-white-10;
    height:65px;
    width: 200px;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: $box-shadow-modal;
    .avatar{
        align-self: center;
    }
    .user-info{
        flex:1;
        margin-left:15px;
        align-self: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.center{
            margin:0;
            text-align: center;
        }
        p{
            display: inline;
            color:$c-black-1;
            font-weight: 700;
            line-height: 1;
        }
        .type{
            display: block;
            color:$c-black-3;
            font-weight: 500;
            margin:0 0 5px 0;
        }
        span{
            color:$c-black-2;
        }   
        .username{
            color:$c-black-2;
            font-weight: 400;
        }
    }
}