@import '../color.scss';
.overlay{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:#aaa;
}
.modal-wrap{
    position:absolute;
    width:500px;
    height: 500px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color:#fff;
}
.login-toast{
    position: fixed;
    top: 0;
    right: 0;
    background-color: $t-black-8;
    padding: 10px;
    width: 200px;
    .avatar{
        width:40px;
        height:40px;
    }
    .user-info{
        position: absolute;
        top:10px;
        left:60px;
        p{
            color:$t-white-8;
        }
        span{
            color:$t-white-10;
        }   
        .username{
            color:$t-white-10;
            font-weight: 400;
        }
    }
}