
html,body{
    width:100%;
    height:100%;
}
.main-container{
    
}
.main-wrapper{
    position: absolute;
    top:90px;
    right:0;
    bottom:0;
    left:0;
    background:#ddd;
    overflow: hidden;
    .card-item-wrap{
        position: absolute;
        top:30%;
        min-width:100%;
        white-space: nowrap;
        .card-item{
            display: inline-block;
            width:300px;
            height:300px;
            background-color:#fff;
            border:1px solid #ddd;
        }
        .card-item.hover{
            border:1px solid red;
        }
    }
}
.scale-enter {
  width:0;
}

.scale-enter.scale-enter-active {
  width:1200px;
  transition: all 300ms ease-in;
}

.scale-leave {
  width:1200px;
}

.scale-leave.scale-leave-active {
  width:0px;
  transition: all 300ms ease-in;
}