@import "../common/color.scss";

.main-container{
    position: relative;
    width:100vw;
    height:100vh;
    overflow: hidden;
    background:$c-black-8;
}
.menu-list{
    position: absolute;
    left:0;
    top:0;
    width:330px;
    height:100%;
    z-index: 7000;
    background: -moz-linear-gradient(left, rgba(241,241,241,1) 40px,rgba(241,241,241,0.87) 40%, rgba(241,241,241,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(241,241,241,1) 40px,rgba(241,241,241,0.87) 40%,rgba(241,241,241,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(241,241,241,1) 40px,rgba(241, 241, 241, 0.87) 40%,rgba(241,241,241,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    
    ul{
        margin-top:16vh;
        li{
            .disabled{
                color:$t-black-4;
                pointer-events: none;
            }
            a{
                width: 100%;
                display: inline-block;
                padding: 4px 0 4px 40px;
                font-size: 2rem;
                color:$t-black-10;
                transition: all .3s ease;
            }
        }
    }
}
.main-wrapper.menu{
    left:250px;
    transform: scale(0.92);
    
}
.main-wrapper{
    position: absolute;
    top:16vh;
    right:0;
    bottom:0;
    left:0;
    padding:0 70px;
    transform-origin: left top 0;
    transition:all 0.4s cubic-bezier(0.17, 0.57, 0.36, 1);
    .title-wrap{
        position: relative;
        top:0;
        padding:0 20px;
        .menu-title{
            position: relative;
            float: left;
            user-select: none;
            padding-left:40px;
            h2{
                padding-right:30px;
                font-size:2rem;
                font-weight: normal;
            }
            .menu-icon{
                position: absolute;
                display: inline-block;
                top:0px;
                left:0;
                width: 23px;
                height:100%;
                padding-top:12px;
                cursor: pointer;
            }
            .menu-icon.active{
                span{
                    &:nth-child(1){
                        top:7px;
                        width:10px;
                        transform: rotate(315deg);
                    }
                    &:nth-child(2){
                        transform: rotate(0deg);
                    }
                    &:nth-child(3){
                        top:5px;
                        width:10px;
                        transform: rotate(-315deg)
                    }
                }
            }
            .menu-icon{   
                transition:all 0.5s ease;
                span{
                    position: relative;
                    display: block;
                    top:0;
                    left:0;
                    width:23px;
                    height:1px;
                    background-color:$c-black-0;
                    transform-origin: left top;
                    transition: all 0.5s ease-out;
                    
                    &:nth-child(2){
                        top:6px;
                        width: 23px;
                        transform-origin: center;
                    }
                    &:nth-child(3){
                        top:12px;
                        width: 23px;  
                        transform-origin: left center;
                    }
                }
            }
        }
        .scroll-bar{
            position:relative;
            top:18px;
            height:1px;
            background:$c-black-4;
            overflow:hidden;
            .indicator{
                position: absolute;
                width:30px;
                height:1px;
                background: #000;
            }
        }
        &:after{
            content:"";
            display: block;
            clear: both;
        }
    }
    .card-item-wrap{
        position: absolute;
        top:8vh;
        white-space: nowrap;
        >div{
            transform-style: preserve-3d;
        }
        .old-posts-loading{
            position: absolute;
            display: inline-block;
            width: 50px;
            height: 430px;
            z-index: 10
        }
        .card-item{
            transform-style: preserve-3d;
            transform-origin: 50% 50% 0;
            position: absolute;
            display: inline-block;
            &:first-child{
            }
            
            .fav-wrap{
                position: absolute;
                top: 40px;
                right: 3px;
                .icon-fav{
                    position: relative;
                    width:40px;
                    height:40px;
                    display: inline-block;           
                    background-color:#000;
                    border-radius: 50%;
                    cursor: pointer;
                    svg{
                        position: absolute;
                        top:0;
                        right:0;
                        bottom:0;
                        left:0;
                        margin:auto;
                    }
                    path{
                        fill:none;
                        stroke: $t-white-10;
                    }
                }
                .icon-fav.active{
                    path{
                        fill:$t-white-10;
                        
                    }
                }
                
            }
            .card-item-box{
                position: absolute;
                padding:10px;
                border-radius:10px;
                background-color:#fff;
                background-repeat: no-repeat;
                background-size:cover;
                background-position: center;
                cursor: pointer;
                &:hover{
                    
                }
                .fav-info{
                    position: absolute;
                    top:27px;
                    right:30px;
                    .count{
                        font-weight: bold;
                        margin-right:6px;
                    }
                    span{
                        color:$t-white-10
                    }
                }
                
            }
            .card-item-bottom{
                position: absolute;
                width: 100%;
                bottom:0;
                left:0;
                padding:0 20px 55px 20px;
                .post-meta{
                    span{
                        font-size: 0.9rem;
                        color:$t-white-9;
                    }
                    .category{
                        font-weight: bold;
                        margin-right:10px;
                    }
                }
                h3{
                    margin-top:4px;
                    font-size: 1.3rem;
                    font-weight: 300;
                    color:$t-white-10;
                    white-space: normal;
                    word-break: keep-all;
                }
                .avatar-wrap{
                    position: absolute;
                    left:0;
                    bottom:20px;
                    padding:0 0 0 20px;
                    span{
                        display: inline-block;
                        margin-left:6px;
                        font-size:0.9rem;
                        color:$t-white-9;
                    }
                    .avatar{
                        display: inline-block;
                        width:20px;
                        height: 20px;
                        vertical-align: middle;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            .summary-wrap{
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
                padding:0 22px;
                white-space: normal;
                word-break: keep-all;
                p{
                    color:$c-black-1;
                }
            }
        }
        .card-item.hover{
            transform: translate3d(0,0px,0);
            
            .card-item-box{
                box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
            }
        }
    }
}
.detail{
   
    > div{
        position: absolute;
        left:0;
        top:0px;
        right:0;
    }
    .iframe-wrap{
        margin:0 auto;
        .iframe-content{
            background-color:#fff;
        }
    }
}